name: CI

on:
  push:  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name : checkout
      uses : actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt install python3-pip
        pip install -r requirements.txt
